<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TRENDBOARD</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="gilberto lenzi - douglas Roudper">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="favicon.ico">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/mustache.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
    </script>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#"><img src="/public/img/trendboard_logo.svg"></a>
          <div class="pull-right">
            <form class="navbar-search">
              <input type="text" class="input-medium search-query" placeholder="Search">
            </form>
          </div>
          <div class="nav">
            <div class="btn-group pull-left" data-toggle="buttons-radio">
              <button class="btn">last week</button>
              <button class="btn">last month</button>
              <button class="btn">last year</button>
            </div>
          </div><!--/.nav-collapse -->
          <div class="btn-group pull-left">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> all the category
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">home & garden</a></li>
              <li class="divider"></li>
              <li><a href="#">for her</a></li>
              <li class="divider"></li>
              <li><a href="#">for him</a></li>
              <li class="divider"></li>
              <li><a href="#">baby & child</a></li>
              <li class="divider"></li>
              <li><a href="#">gifts</a></li>
              <li class="divider"></li>
              <li><a href="#">fashion</a></li>
              <li class="divider"></li>
              <li><a href="#">weddings</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="page_wrapper">
      <div class="row-fluid">
        <!--COLOUMN WITH PRODUCTS STARTS HERE-->
        <div class="span6" id="product_container">
        </div>
        <!--COLOUMN WITH PARTNERS STARTS HERE-->
        <div class="span6" id="partner_container">
        </div>
      </div>
    </div>

    <div id="chart_div" style="width: 100%; height: 300px;">

  </body>
</html>
